@model IEnumerable<School.BL.Models.TeacherVm>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />

    <title>Document</title>
</head>
<body>
    

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" asp-controller = "Home" asp-action = "index">School</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" asp-action="index" asp-controller="Teacher"> Teacher</a>
          <a class="nav-link active" aria-current="page" asp-action="index" asp-controller="Class"> Teacher</a>
        </li>
       
      </ul>
     
    </div>
  </div>
</nav>

<br />
<a asp-action="create" asp-controller="teacher" class ="btn btn-success">Create Teacher</a>
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-center font-weight-bold">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Salary</th>
                                   <th>Details</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody  id="mooo">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.Name</td>
                                        <td>@item.Age</td>
                                        <td>@item.Salary $</td>
                                        <td><a asp-controller="Teacher" asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a></td>
                                        <td><a asp-controller="Teacher" asp-action="update" asp-route-id="@item.ID" class="btn btn-warning">Update</a></td>
                                        <td><a class="text-danger btn-danger" onclick="moo(@item.ID ,this)">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/bootstrap/js/bootstrap.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/jquery/jquery.min.js"></script>
<script src="~/axios/axios.js"></script>

    <script>
      

        function moo(id ,mo) {
            var buton = $(mo);
            Swal.fire({
                title: 'Confimre Delete',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Are you sure',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    return axios.post('/Teacher/Delete1?id=' + id)
                        .then(function (response) {
                            Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )   

                            $(buton).parentsUntil("tbody").remove();


                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }

            });

        }
    </script>
<script></script>
</body>
</html>
   
